body{
	margin: 0;
	padding: 0;
	outline: none;
	font-family: "Calibri"
}

.txt{
	height: 35px;
	width: 250px;
	border: none;
	border-radius: 5px;
	background-color: #EEE;
	padding: 4px;
}

#cad_tab{
	height: 250px;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 200px;

}

#btn_cad{
	width: 150px;
	height: 30px;
	background-color: #EFEFEF;
	border-radius: 4px;
	border: 2px solid #CCC;
}